html, body {
  margin: 0;
  padding: 0;
}

/* Header */

#header {
  display: inline-flex;
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  max-height: 60px;
}

.logo_title {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: inline-block;
  align-items: center;
  align-content: center;
  margin-right: 300px;
}

.logo {
  display: inline-block;
  padding-right: 10px;
  max-height: 60px;
}

.top_menu {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
}

nav {
  margin: 0px 50px 0px 50px;
  text-align: right;
  flex: 1 1 150px;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

nav li {
  display: inline-flex;
  justify-content: space-between;
  width: 80px;
  text-align: right;
  flex: 1 1 150px;
}

.black {
  color: black;
}

/* Main container*/

#container {

  display: flex;
  max-width: 1232px;
  position: relative;
  top: 80px;
  min-height: 500px;
  padding: 20px 0px 20px 20px;
}

/* columns*/

#column1 {
  width: 630px;
  border: 1px solid black;
  position: relative;
  margin-right: 25px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#column2 {
  width: 300px;

  position: relative;
  margin-right: 25px;
  display: block;
  flex-wrap: wrap;
  align-items: flex-start;

}

#column3 {
  width: 240px;

  position: relative;
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;

}
.subcolumn {
  max-width: 300px;
  flex-direction: column;
  border: 1px solid black;
  display: inline-flex;
}

.left {
  margin-right: 26px;
  justify-content: flex-end;
}
.right {
  align-items: flex-start;

}

.row {
  display: inline-flex;
}
.large {
  min-width: 630px;
}
.medium {
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.small {
  min-width: 240px;
}
/* column1*/
.headlineimg {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
}
.img1 {
  display: flex;
  height: 300px;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/My Times/resourses/images/img-story-main.png");
}
.img2 {
  display: inline-flex;
  height: 300px;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/My Times/resourses/images/img-story-2.png");

}
.img3 {
  display: flex;
  height: 300px;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/My Times/resourses/images/img-story-3.png");

}
.img4 {
  display: flex;
  height: 300px;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/My Times/resourses/images/img-story-1.png");

}

/* column2*/
.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
}
.story {
  font-family: Georgia;
 font-size: 17px;
 color: black;
 display: flex;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
}

/* column3*/
img.cookie{
  height: 240px;
}
.newsbite {
  text-align: center;
  margin: 10px 10px;
  display: block;

}
.bite {
  margin: 10px 10px;
  display: block;
}
